/* Seccion descripcion de menu */
.container-descrip-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 16%;
}
.section-descrip-menu h2 {
  border-bottom: 2px solid var(--color-accent);
  font-weight: var(--grosor-letra-tiulos);
}
.section-descrip-menu p {
  margin-top: 2%;
  font-size: var(--tamano-letra-base);
  line-height: 1.9;
  color: var(--color-muted);
  font-weight: var(--grosor-letra-textos);
  text-align: justify;
}

/* Seccion del menu */

.container-menu {
  display: flex;
  justify-content: start;
  padding-left: 2%;
}

/* Barra lateral aside */
.container-menu-aside ul a {
  list-style: none !important; /* Quitar los puntos de la lista */
  text-decoration: none; /* Quitar el subrayado de los enlaces */
  color: var(--color-texto);
}
.container-menu-aside {
  width: 91%;
  overflow-y: scroll;
  height: 500px;
}

@media (max-width: 992px) {
  .container-menu-aside {
    display: none;
  }
}

/* Contenedor de las categoria bebidas y alimentos */
.menu-cat {
  width: 80%;
}

.menu-cat a {
  text-decoration: none;
}
.menu-cate-bebidas,
.menu-cate-alimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.menu-cate-alimentos div,
.menu-cate-bebidas div {
  display: flex;
  align-items: center;
  width: 48%;
  gap: 10px;
}

.menu-cate-alimentos span,
.menu-cate-bebidas span {
  margin-top: 5%;
  font-size: var(--tamano-letra-base);
  font-weight: var(--grosor-letra-textos);
  color: var(--color-muted);
  text-align: center;
}

.menu-cate-bebidas img,
.menu-cate-alimentos img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2%;
  gap: 5%;
}

@media (max-width: 992px) {
  .menu-cat {
    width: 100%;
  }

  .menu-cate-bebidas div,
  .menu-cate-alimentos div {
    display: flex;
    width: 100%;
    gap: 5%;
  }

  .menu-cat h3 {
    padding-top: 10%;
  }
}
